.ProductsView {
    height: auto;
    width: 75vw;
    border: 2px solid black;
    margin-left: 4vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; 
  }
  
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    height: 18vh;
    width: 18vw;
    border: 2px solid black;
    box-sizing: border-box; 
    margin: 2vh 2%;
    border-radius: 1vw;
    max-width: 40vh;
    max-height: 20vw;
  }
  